body{
  margin:0;
  background: white;
}

a {
  color:black;
  text-decoration:  none;
}

h1{

 font-size: 45px;
 text-align: center;
 border-bottom: 1px solid blue;
 margin:0;
 padding:20px;
}

h2{
  color:blue;
  font-size: 25px;
}

ul{
  border-right: 1px solid blue;
  width:100px;
  margin:0;
  padding:25px;
  color: blue;
}


img{

  display: block; margin: 0px auto;
  padding-top: 50px;
}


embed{

  display: block; margin: 0px auto;
  padding-top: 50px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ul{
  padding-left:  33px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:800px){
  #grid{display: block;

}
ul{
  border-right:none;
}
h1{
  border-bottom:none;
}
}
